<html>
<head>
    <title>发票</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        ul, ul li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        label {
            color: #9c5223;
        }
    </style>
</head>
<body>
<div>
    <div style="height: 126px;align-items: center;">
        <table width="100%" height="126px" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="text-align: left;">
                    <div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
                                    <img style="width: 105px;height: 105px;" src="data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAB9AQAAAACn+1GIAAAAqElEQVR42u3VMQ7DMAwDQP6A//8lx24qKRRw0s1yu8Uw4OQGIaHsBHUfLzzwAxCAInoZg6dI9dUUBIOyHEG56CmodAaxwtfbboLTVWpeU9+EDAH37m9CmkTYxDGUE0agMIakk3y4Ut8G37iom02M4bPniHWAtqFDTjjSGLrZvXAOmTnL1124C73r6Yo8Ane61k6eQeVjIM2h482D1RwScrpNjuH5R/0b3s6ZZNyKlt3iAAAAAElFTkSuQmCC" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>机器编号：</label><span>xxxxxxxx</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div>
                        <h1 style="font-size: 32px;color: #9c5223;font-family: 'kaiti';margin: 5px 12px;">
                            增值税专用发票
                        </h1>
                        <hr style="height: 1px;background: #9c5223;margin: 0px;padding: 0px;border: 0px;" />
                        <hr style="height: 1px;background: #9c5223;margin: 0px 0px;padding: 0px;border: 0px;" />
                    </div>
                </td>
                <td style="text-align: right;">
                    <div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr style="height: 24px;">
                                <td>
                                    <label> 发票代码： </label><span>xxxxxxxx</span>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td>
                                    <label> 发票号码： </label><span>xxxxxxxx</span>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td>
                                    <label> 开票日期： </label><span>xxxxxxxx</span>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td>
                                    <label> 校&nbsp;&nbsp;验&nbsp;码： </label><span>xxxxxxxx</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 100%;border: 1px solid #9c5223;">
        <div style="width: 100%;align-items: center;height: 96px;border-bottom: 1px solid #9c5223;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 20px;border-right: 1px solid #9c5223;padding: 0 10px;">
                        <div style="text-align: center;height: 100%;align-items: center;color: #9c5223;">购买方</div>
                    </td>
                    <td style="width: 50%;text-align: left;">
                        <div style="margin: 0 5px;padding: 0px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 24px;">
                                    <td>
                                        <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><span>xxxxxxxx</span>
                                    </td>
                                </tr>
                                <tr style="height: 24px;">
                                    <td>
                                        <label>纳税人识别号：</label><span>xxxxxxxx</span>
                                    </td>
                                </tr>
                                <tr style="height: 24px;">
                                    <td>
                                        <label>地址、&nbsp;&nbsp;&nbsp;电话：</label><span>xxxxxxxx</span>
                                    </td>
                                </tr>
                                <tr style="height: 24px;">
                                    <td>
                                        <label>开户行及账号：</label><span>xxxxxxxx</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 20px;padding: 0 10px;border-right: 1px solid #9c5223;border-left: 1px solid #9c5223;">
                        <div style="text-align: center;height: 100%;align-items: center;color: #9c5223;">密码区</div>
                    </td>
                    <td>
                        <div style="flex: 1;padding-left: 5px;">xxxxxxxx</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>